<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Cami Airplanes</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>

<div class="container">

    <h1>Lista de Aviones</h1>
    <div th:if="${aviones == null or #lists.isEmpty(aviones)}">
        <p>El tipo de avión seleccionado no tiene aeronaves asociadas</p>
    </div>
    <table>

        <thead>
        <tr>
            <th>ID aeronave</th>
            <th>Capacidad pasajeros</th>
            <th>Aerolínea</th>
            <th>Tipo de avión</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="airplane : ${aviones}">

            <!-- ID del avión -->
            <td th:text="${airplane.airplaneId}">
                ID
            </td>

            <!-- Capacidad -->
            <td th:text="${airplane.capacity}">
                Capacidad
            </td>

            <!-- Nombre de la aerolínea -->
            <td th:text="${airplane.airline.airlineName}">
                Aerolínea
            </td>

            <!-- Identificador del tipo de avión -->
            <td th:text="${airplane.airplaneType.identifier}">
                Tipo
            </td>

        </tr>

        </tbody>

    </table>

    <br>
<!--/ver_tipos_avion -->
    <a th:href="@{/}">
        Volver a tipos de aviones
    </a>

</div>

</body>

</html>

