<!DOCTYPE html>
<html>

<head>
    <meta charset="UTP-8">
    <title> Tipos de Aviones </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="container">
        <h1> Lista Tipos de Aviones</h1>
       
        <table>
             <thead>
               <tr>
                <th>Código Tipo</th>
                <th>Identificador</th>
                <th>Descripción</th>
               </tr> 
             </thead>
            
            <tr th:each="airplaneType : ${airplanesTypes}">
                <td><span th:text="${airplaneType.airplaneId}"></span><a href="/mostrar_aviones">Texto del enlace</a></td>
                <td><span th:text="${airplaneType.identifier}"></span></td>
                <td><span th:text="${airplaneType.description}"></span></td>
               
            </tr>
        </table>
        <a href="/mostrar_aviones">Ir a lista de aviones</a>
    </div>
</body>

</html>
