<!DOCTYPE html>
<html>

<head>
    <meta charset="UTP-8">
    <title> Tipos de Aviones </title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
    <div class="container">
        <h1> Lista Tipos de Aviones</h1>
       
        <table>
             <thead>
               <tr>
                <th>Código Tipo</th>
                <th>Identificador</th>
                <th>Descripción</th>
               </tr> 
             </thead>
            
            <tr th:each="airplaneType : ${airplanesTypes}"> 
            <td th:text="${airplaneType.typeId}"> ID </td>
            <td th:text="${airplaneType.identifier}"> Identificador </td>
            <td th:text="${airplaneType.description}"> Descripción </td>
            <td> <a th:href="@{/mostrar_aviones(idTipo=${airplaneType.typeId})}"> Ver aviones </a> </td> </tr>
        </table>
    </div>
</body>

</html>
